<% if product_relation_types.any? %>
  <%# <div id="related-products"> %>
    <% product_relation_types.each do |relation_type| %>
      <% if !color_option_type_name.present? %>
        <% products = product_relations_by_type(relation_type) %>

        <% if products.any? %>
          <div class="product-details-related m-0 pb-3 pb-lg-0" id="product-details-related-<%= relation_type.id %>">
            <h3 class="product-details-carousel-text mb-0 py-2 py-lg-4 border-bottom border-1 border-black text-center"><%= relation_type.presentation %></h3>
            <%# render 'spree/shared/carousel_4_products', id: "related-products-carousel-#{relation_type.id}", products: products %>
            <%= render 'spree/shared/mosaic_related', id: "related-products-carousel-#{relation_type.id}", products: products %>
          </div>
        <% end %>
      <% end %>
    <% end %>
 <%#  </div> %>
<% end %>