@font-face {
    font-family: 'Halvar';
    src: local('Halvar Breitschrift Lt'), local('Halvar-Breitschrift-Lt'),
        url('spree/frontend/our_style/font/HalvarBreit-Lt/HalvarBreit-Lt.woff2') format('woff2'),
        url('spree/frontend/our_style/font/HalvarBreit-Lt/HalvarBreit-Lt.woff') format('woff'),
        url('spree/frontend/our_style/font/HalvarBreit-Lt/HalvarBreit-Lt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Anonymous Pro', monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    overflow-x: hidden;
    background: #EFEFEF;
}
.pb-6 {
    padding-bottom: 3.5rem !important;
  }
  
  .pb-7 {
    padding-bottom: 4rem !important;
  }
  
  .pb-8 {
    padding-bottom: 4.5rem !important;
  }
  
  .pb-9 {
    padding-bottom: 5rem !important;
  }
  
  .pb-10 {
    padding-bottom: 6rem !important;
  }
  .pb-11 {
    padding-bottom: 6.5rem !important;
  }
  .pb-12 {
    padding-bottom: 7rem !important;
  }
.pt-6 {
    padding-top: 3.5rem !important;
  }
  
  .pt-7 {
    padding-top: 4rem !important;
  }
  
  .pt-8 {
    padding-top: 4.5rem !important;
  }
  
  .pt-9 {
    padding-top: 5rem !important;
  }
  
  .pt-10 {
    padding-top: 6rem !important;
  }
  .pt-11 {
    padding-top: 6.5rem !important;
  }
  .pt-12 {
    padding-top: 7rem !important;
  }

.px-6 {
    padding-right: 3.5rem !important;
    padding-left: 3.5rem !important;
  }
  
  .px-7 {
    padding-right: 4rem !important;
    padding-left: 4rem !important;
  }
  
  .px-8 {
    padding-right: 4.5rem !important;
    padding-left: 4.5rem !important;
  }
  
  .px-9 {
    padding-right: 5rem !important;
    padding-left: 5rem !important;
  }
  
  .px-10 {
    padding-right: 6rem !important;
    padding-left: 6rem !important;
  }
  .px-11 {
    padding-right: 6.5rem !important;
    padding-left: 6.5rem !important;
  }
  .px-12 {
    padding-right: 7rem !important;
    padding-left: 7rem !important;
  }
  .py-6 {
    padding-top: 3.5rem !important;
    padding-bottom: 3.5rem !important;
  }
  
  .py-7 {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
  }
  
  .py-8 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
  
  .py-9 {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
  }
  
  .py-10 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }
  .py-11 {
    padding-top: 6.5rem !important;
    padding-bottom: 6.5rem !important;
  }
  .py-12 {
    padding-top: 7rem !important;
    padding-bottom: 7rem !important;
  }

  @media screen and (max-width: 767px) {
    .logo-header {
        max-width: 140px;
    }
}

.indicator-wrap {
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100px;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    margin-bottom: -100px;
}
.product-carousel-inner{
    max-width: 480px;
    max-height: 480px;
}
.product-carousel-item{

}
.carousel-indicators [data-bs-target] {
    width: 100%;
    height: 100%;
}
.carousel-control-prev, .carousel-control-next {
    width: 5%;
}
.carousel-indicators {
    margin-right: 5%;
    margin-left: 5%;
}
.default-background {
    background: #EFEFEF!important;
}

.main-nav-bar-item {
    font-family: 'Halvar';
    font-size: 16px;
    font-weight: 400;
    padding: 0;
    text-transform: none;
}
.pr-padding {
    padding: 4.375rem 7.5rem;
}
.description-background-color {
    background-color: #EAEAE1;
}
@media screen and (max-width: 767px) {
    .description-background-color {
    background-color: transparent;
    }
}
.product-details-title {
    font-size: 1.25rem;
    font-family: 'Halvar';
    line-height: 140%;
    letter-spacing: .04em;
    text-transform: initial;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    font-weight: 600;
}
@media screen and (max-width: 767px) {
    .product-details-title {
        font-size: 1rem;
    }
}
.add-to-cart-form-price {
    font-size: 1.5rem;
    line-height: 110%;
}
@media screen and (max-width: 767px) {
    .add-to-cart-form-price {
        font-size: 1.25rem;
    }
}
.price-sku-info .sku{
    font-size: 0.625rem;
}
.product-details-subtitle, .product-details-subtitle {
    font-family: 'Halvar';
    font-size: 1.125rem;
}
.product-description {
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: black;
}
.add-to-cart-button {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0;
    font-size: 0.875rem;
    font-family: 'Halvar';
    letter-spacing: .05em;
    text-transform: uppercase;
    height: 44px;
    width: 196px;
}
.shopping-cart-buttons-checkout, .no-product-available-button {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0;
    font-size: 0.875rem;
    font-family: 'Halvar';
    letter-spacing: .05em;
    text-transform: uppercase;
    height: 44px;
    width: 196px;
}
.product-details-carousel-text {
    font-size: 1.5rem;
    font-family: 'Halvar';
    line-height: 140%;
    letter-spacing: .04em;
}
@media screen and (max-width: 767px) {
    .product-details-carousel-text {
        font-size: 1rem;
    }
}
.product-component-name {
    font-size: 0.9rem;
    line-height: 1rem;
    white-space: unset;
    text-decoration: none;
}
.product-component-price {
    font-size: 1rem;
    line-height: 1.15rem;
    font-weight: 400;
}
@media screen and (max-width: 767px) {
    .product-component-name, .product-component-price  {
        font-size: 0.75rem;
    }
}

.mosaiclItem {
    border-right: 1px solid rgb(0, 0, 0);
}
.mosaiclItem:nth-child(1n):before {
    content: '';
    border-bottom: 1px solid rgb(0, 0, 0);
    position: absolute;
    bottom: 0;
    left: -10%;
    width: 100vw;
    //transform: translateX(-50%);
}
.col-lg-3.mosaiclItem:nth-child(4n) {
    border-right-width: 0;
}
.col-lg-4.mosaiclItem:nth-child(3n) {
    border-right-width: 0;
}
@media screen and (min-width: 767px) {
    .homepageMosaic.mosaiclItem:nth-child(1n):before{
        border-bottom: 0px solid rgb(0, 0, 0);
    }
    .homepageMosaic.mosaiclItem{
        border-right: 0px solid rgb(0, 0, 0);
    }
}
@media screen and (max-width: 767px) {
    .mosaiclItem:nth-child(1n):before { 
        width: 100%;
        left: 0%;
    }
    .col-6.col-lg-3.mosaiclItem:nth-child(4n) {
        border-right-width: 1px;
    }
    .col-6.col-lg-4.mosaiclItem:nth-child(3n) {
        border-right-width: 1px;
    }
    .homepageMosaic.mosaiclItem:nth-child(3):before{
        border-bottom: 0px solid rgb(0, 0, 0);
    }
    .homepageMosaic.mosaiclItem:nth-child(4):before{
        border-bottom: 0px solid rgb(0, 0, 0);
    }
}
@media (max-width: 768px) {
    .taxon-title {
      font-size: 0.625rem;
    }
    .taxon-subcategories {
        font-size: 0.875rem;
    }
}
.taxon-title-2 {
    font-size: 2.7rem;
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: -.01em;
    font-style: italic;
}
.py-4-5 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}
.last-dropdown {
    right: 0;
    left: auto;
}
.collapse-nav-link {
    font-family: 'Halvar';
    letter-spacing: .03rem;
    font-size: 1rem;
    font-weight: 400;
    color: black;
}
#modalSidebar {
    max-width: 590px; 
}
.list-group-item a {
    transition: color .3s ease;
    font-size: 1rem;
    font-weight: 400;
    color: black;
}
.accordion-button:not(.collapsed) {
    box-shadow: none;
}

#modalSidebar .accordion-button:not(.collapsed) {
    box-shadow: none;
    color: black;
}
#modalSidebar .accordion-button:focus {
    box-shadow: none;
}
.sidebar-menu-title {
    font-size: 1.2rem;
    line-height: 28px;
    letter-spacing: .04rem;
    font-family: 'Halvar';
}
.second-menu-sidebar {
    font-size: 0.9rem;
    letter-spacing: .04rem;
    font-family: 'Halvar';
}
.third-menu-sidebar {
    font-size: 0.9rem;
    letter-spacing: .04rem;
    font-family: 'Halvar';
}
.menu-sidebar-0 a {
    font-size: 0.9rem;
    letter-spacing: .04rem;
    font-family: 'Halvar';
}

.menu-sidebar-1 a {
    font-size: 1.2rem;
}
.sidebar-filter-menu-title {
    font-size: 1.25rem;
    line-height: 1.2;
    margin-bottom: 8px;
    font-weight: 600;
}
.filter-items {
    margin-left: -4px;
}
.subtitle-2 {
    margin: 0;
    font-size: 2.81rem;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: -.01em;
    font-style: italic;
    font-weight: 700;
}
@media screen and (max-width: 767px) {
    .subtitle-2 {
        font-size: 1.5rem;
    }
}
.show-more-products {
    border: 0;
}
.section-content-wrap {
    max-width: 320px;
}
.section-title .link {
    text-decoration: none;
    color: black;
    transition: color .3s ease;
    text-transform: uppercase;
    letter-spacing: .13em;
    font-size: 0.87rem;
    font-family: 'Halvar';
    align-items: center;
}
.section-subtitle {
    font-size: 0.87rem;
    font-family: "Anonymous Pro";
}

.section-product-wrap .pr1 .link, .section-product-wrap .pr2 .link{
    color: #fff;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    font-size: 0.87rem;
    line-height: 140%;
    max-width: 280px;
}

.section-product-wrap .pr1:before,  .section-product-wrap .pr2:before{
    content: '';
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 4px;
    left: 0;
}
.section-product-wrap .buy {
    font-size: 0.87rem;
    line-height: 140%;
    text-underline-position: under;
}
.section-product-wrap .buy:hover {
    text-underline-position: none;
}

@media screen and (max-width: 767px) {
    .section-product-wrap .pr1 .link, .section-product-wrap .pr2 .link, .section-product-wrap .buy{
        font-size: 0.625rem;
    }
}

.homepage-carousel-text {
    font-family: 'Halvar';
    line-height: 140%;
    letter-spacing: .04em;
    font-size: 1.2rem;
}

.section-title {
    font-size: 1.2rem;
    font-family: 'Halvar';
    line-height: 140%;
    letter-spacing: .04em;
}
.section-with-text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: 'Halvar';
    font-size: 36px;
    text-align: center;
}
.section-with-text li {
    position: relative;
}
.section-with-text li a {
    display: inline-block;
    padding: 0 7px;
    color: black;
    text-decoration: none;
}
.section-with-text li a:before {
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: currentColor;
    position: absolute;
    left: calc(-7px/2);
    top: calc(50% - 7px/2);
}
.section-with-text li a:after {
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: currentColor;
    position: absolute;
    right: calc(-7px/2);
    top: calc(50% - 7px/2);
}

.who-marcel .heading {
    letter-spacing: -.02em;
    font-size: 2.25rem;
    grid-column: 1/-1;
    margin: 0 0 60px;
    position: relative;
    font-family: 'Halvar';
    line-height: 140%;
    text-transform: uppercase;
}
.who-marcel .heading em {
    font-family: 'Cormorant Garamond', serif;
    font-size: 64px;
    text-transform: initial;
    display: block;
    margin-left: 100px;
}
.who-marcel .heading svg {
    width: 50px;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 25%;
}
.who-marcel .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 110px;
    align-items: flex-start;
}
.who-marcel .grid .image {
    width: 100%;
    display: block;
}
.who-marcel .grid .image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    margin-top: 16px;
}
.who-marcel .grid .m-image {
    display: none;
    width: 100%;
}
.who-marcel .grid .m-image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    margin-top: 11px;
    margin-bottom: 11px;
}
.who-marcel .grid .m-image figcaption {
    font-size: 12px;
    line-height: 106%;
}
.who-marcel .grid .m-image figcaption em {
    display: block;
    font-family: 'Cormorant Garamond', serif;
}
.who-marcel .grid .content picture {
    width: 100%;
    max-width: 238px;
    margin-left: 60px;
    position: relative;
    display: block;
}
.who-marcel .grid .content picture img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    margin-top: 16px;
}

.who-marcel .grid .content picture figcaption {
    font-size: 0.75rem;
    line-height: 106%;
    position: absolute;
    bottom: 0;
    left: calc(100% + 21px);
    width: 100%;
}
.who-marcel .grid .content picture figcaption em {
    display: block;
    font-family: 'Cormorant Garamond', serif;
}
.who-marcel .grid .content .text {
    font-size: 1.25rem;
    line-height: 134%;
    margin: 7.5rem 0 0;
}

.who-marcel .grid .content .text p {
    text-indent: 5rem;
}

.who-marcel .author {
    display: flex;
    align-items: center;
    grid-gap: 33px;
    text-transform: uppercase;
    margin-top: 2.875rem;
    line-height: 136%;
}
.who-marcel .author:before {
    content: '';
    flex: 1;
    border-top: 1px solid black;
}

@media screen and (max-width: 767px) {
    .who-marcel .heading {
        font-size: 2rem;
        text-transform: initial;
        font-family: 'Cormorant Garamond', serif;
        font-style: italic;
        margin-bottom: 2.5rem;
    }
    .who-marcel .heading em {
        font-size: 2rem;
        margin-left: 2.5rem;
        font-style: normal;
    }
    .who-marcel .heading svg {
        width: 30px;
        right: 0;
    }
    .who-marcel .grid {
        grid-template-columns: 1fr .7fr;
        grid-gap: 31px;
    }
    .who-marcel .grid .image {
        font-size: 0.75rem;
    }
    .who-marcel .grid .image img {
        margin-top: 11px;
    }
    .who-marcel .grid .m-image {
        display: block;
        font-size: 0.75rem;
    }
    .who-marcel .grid .content {
        grid-column: 1/-1;
    }
    .who-marcel .grid .content picture {
        display: none;
    }
    .who-marcel  .grid .content .text {
        margin-top: 30px;
        font-size: 1rem;
    }
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 1rem;
    height: 1rem;
}

.marcel-text-with-background {
    font-size: 1.5rem;
    font-family: 'Halvar';
    text-transform: uppercase;
    letter-spacing: .05em;
    line-height: 2.18rem;
}
.marcel-text-with-background span {
    font-size: 0.75rem;
    text-decoration: none !important;
    letter-spacing: .24em;
}
.marcel-text-with-background em {
    font-family: 'Cormorant Garamond', serif;
    font-size: 2.5rem;
    text-transform: initial;
}
@media screen and (max-width: 767px) {
    .marcel-text-with-background  {
        font-size: 1.3125rem;
        line-height: 1.75rem;
        text-transform: initial;
    }
    .marcel-text-with-background span {
        font-size: 0.5625rem;
        display: block;
        margin-bottom: 43px;
    }
    .marcel-text-with-background em {
        font-size: 1.75rem;
    }
}
.image-gallery-2-title {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-family: 'Halvar';
    letter-spacing: .24em;
}
.image-gallery-2-title a {
    text-decoration: none;
    color: black;
    transition: color .3s ease;
}

.header-content-wrap {

}
.header-content-wrap .text {
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 140%;
    letter-spacing: -.02em;
    font-family: 'Halvar';
}

.header-content-wrap .text em {
    font-family: 'Cormorant Garamond', serif;
    font-size: 38px;
    text-transform: lowercase;
}
.header-content-wrap .text p {
    margin: 0;
}
@media screen and (max-width: 767px) {
    .header-content-wrap .text {
        font-size: 0.75rem;
        letter-spacing: -.03em;
    }
    .header-content-wrap .text em {
        font-size: 1.375rem;
    }
    .header-image-wrap img {
        max-height: calc(100vw - 64px);
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center top;
    }
}

.footer-spree-label {
    font-family: 'Halvar';
    font-size: 0.9rem;
    letter-spacing: 1.68px;
    line-height: 1.25rem;
    font-weight: 400;
    text-transform: uppercase;
}
.footer-spree-label a, .footer-link a {
    text-decoration: none;
}
.footer-link a {
    font-family: "Anonymous Pro";
    font-size: 0.8rem;
    letter-spacing: 1.68px;
    line-height: 1.1rem;
}
.footer-menu ul {
    list-style-type: none;
    font-family: 'Halvar';
    font-size: 0.75rem;
    letter-spacing: .12em;
    text-transform: uppercase;
    letter-spacing: .19em;
}
.footer-menu ul li, .footer-menu ul li a, .footer-menu ul li button  {
    list-style-type: none;
    text-transform: initial;
    font-size: 0.75rem;
    font-family: "Anonymous Pro";
    color: black;
    letter-spacing: .19em;
    text-decoration: none;
}

.product-added-modal-button {
    border: 1px solid black;
  border-radius: 0;
  font-family: 'Halvar';
  letter-spacing: .05em;
  height: 44px;
}
@media screen and (max-width: 767px) {
    .pr-padding {
        padding: 1rem 1.5rem 1.5rem;
    }
}
@media (min-width: 768px) {
    .pr-padding {
        padding: 2rem 4rem;
    }  
}
@media (min-width: 992px) {
    .pr-padding {
        padding: 4.375rem 7.5rem;
    } 
}

// Product Carousel
.carousel-item-start, .carousel-item-end {
background: #EFEFEF!important;
}
@media (max-width: 767px) {
    #productThumbnailsCarousel .carousel-inner .carousel-item > div {
        // display: none;
    }
    #productThumbnailsCarousel .carousel-inner .carousel-item > div:first-child {
        // display: block;
    }
}

#productThumbnailsCarousel .carousel-inner .carousel-item.active,
#productThumbnailsCarousel .carousel-inner .carousel-item-next,
#productThumbnailsCarousel .carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    #productThumbnailsCarousel .carousel-inner .carousel-item-end.active,
    #productThumbnailsCarousel .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    #productThumbnailsCarousel .carousel-inner .carousel-item-start.active, 
    #productThumbnailsCarousel .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

#productThumbnailsCarousel .carousel-inner .carousel-item-end,
#productThumbnailsCarousel .carousel-inner .carousel-item-start { 
    transform: translateX(0);
}
// Product Carousel

.horizontalThumb .product-thumbnails-carousel-item-content {
    padding-bottom: 0px;
    height: -moz-fit-content;
    height: fit-content;
  }
  .horizontalThumb .carousel-inner>.carousel-item:not(.active)  {
    position: relative;
    display: none;
    position: relative;
    transition: transform 1s ease-in, opacity .8s cubic-bezier(.39,.58,.57,1);
    float: unset;
    margin-right: unset;
    will-change: unset;
}
.horizontalThumb .carousel-inner>.carousel-item.active, .horizontalThumb .carousel-inner>.carousel-item.next.left, .horizontalThumb .carousel-inner>.carousel-item.prev.right {
    // left: 0;
    // -webkit-transform: translate3d(0,0,0);
    // transform: translate3d(0,0,0);
}


.shopping-cart-item-image img {
    min-width: 80px;
}


.shopping-cart-item-quantity input[type="number"]::-webkit-outer-spin-button,
.shopping-cart-item-quantity input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none!important;
    margin: 0!important;
}

.shopping-cart-item-quantity input[type="number"] {
    -webkit-appearance: none!important;
    -moz-appearance: textfield!important;
    appearance: none!important;
}

