@font-face {
    font-family: 'Halvar';
    src: local('Halvar Breitschrift Lt'), local('Halvar-Breitschrift-Lt'),
        url('spree/frontend/our_style/font/HalvarBreit-Lt/HalvarBreit-Lt.woff2') format('woff2'),
        url('spree/frontend/our_style/font/HalvarBreit-Lt/HalvarBreit-Lt.woff') format('woff'),
        url('spree/frontend/our_style/font/HalvarBreit-Lt/HalvarBreit-Lt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Anonymous Pro', monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    overflow-x: hidden;
    background: #EFEFEF;
}

.indicator-wrap {
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100px;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    margin-bottom: -100px;
}
.product-carousel-inner{
    max-width: 480px;
    max-height: 480px;
}
.product-carousel-item{

}
.carousel-indicators [data-bs-target] {
    width: 100%;
    height: 100%;
}
.carousel-control-prev, .carousel-control-next {
    width: 5%;
}
.carousel-indicators {
    margin-right: 5%;
    margin-left: 5%;
}
.default-background {
    background: #EFEFEF!important;
}

.main-nav-bar-item {
    font-family: 'Halvar';
    font-size: 16px;
    font-weight: 400;
    padding: 0;
    text-transform: none;
}
.pr-padding {
    padding: 4.375rem 7.5rem;
}
.description-background-color {
    background-color: #EAEAE1;
}
.product-details-title {
    font-size: 1.25rem;
    font-family: 'Halvar';
    line-height: 140%;
    letter-spacing: .04em;
    text-transform: initial;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    font-weight: 600;
}
.add-to-cart-form-price {
    font-size: 1.5rem;
    line-height: 110%;
}
.price-sku-info .sku{
    font-size: 0.625rem;
}
.product-details-subtitle, .product-details-subtitle {
    font-family: 'Halvar';
    font-size: 0.9rem;
}
.product-description {
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: black;
}
.add-to-cart-button {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0;
    font-size: 0.9rem;
    font-family: 'Halvar';
    letter-spacing: .05em;
    text-transform: uppercase;
    height: 44px;
    width: 196px;
}
.product-details-carousel-text {
    font-size: 1.5rem;
    font-family: 'Halvar';
    line-height: 140%;
    letter-spacing: .04em;
}
.product-component-name {
    font-size: 0.9rem;
    line-height: 1rem;
    white-space: unset;
    text-decoration: none;
}
.product-component-price {
    font-size: 1rem;
    line-height: 1.15rem;
    font-weight: 400;
}
.mosaiclItem {
    border-right: 1px solid rgb(0, 0, 0);
}
.mosaiclItem:nth-child(1n):before {
    content: '';
    border-bottom: 1px solid rgb(0, 0, 0);
    position: absolute;
    bottom: 0;
    left: -10%;
    width: 100vw;
    //transform: translateX(-50%);
}
.col-3.mosaiclItem:nth-child(4n) {
    border-right-width: 0;
}
.col-4.mosaiclItem:nth-child(3n) {
    border-right-width: 0;
}
.footer-spree-label {
    font-family: 'Halvar';
    font-size: 0.9rem;
    letter-spacing: 1.68px;
    line-height: 1.25rem;
    font-weight: 400;
    text-transform: uppercase;
}
.footer-spree-label a, .footer-link a {
    text-decoration: none;
}
.footer-link a {
    font-family: "Anonymous Pro";
    font-size: 0.8rem;
    letter-spacing: 1.68px;
    line-height: 1.1rem;
}
.taxon-title-2 {
    font-size: 2.7rem;
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: -.01em;
    font-style: italic;
}
.py-4-5 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}