<% cache spree_menu_cache_key('footer') do %>
  <footer id="footer" class="footer-marcel">
    <div class="container border border-top-1 border-bottom-0 border-start-0 border-end-0 border-black">
        <%# render partial: 'spree/shared/footer_small' %>
        <%= render partial: 'spree/shared/footer_big' %>
    </div>
    <%= render 'spree/shared/copyright' %>
  </footer>
<% end %>