<!-- partial = "spree/shared/mosaic_related" -->
<% cache [common_product_cache_keys, products&.except(:group, :order)&.maximum(:updated_at)&.to_i, id, products&.ids&.join(',')] do %>
  <div id="<%= id.parameterize %>-desktop" class="d-md-block ">      

        <div class="row mosaic-items-container px-0 px-lg-5">
            <% padding = 'pt-3 pb-4 px-3' %>
            <% products.each_with_index do |product, index| %>
            <div class="col-6 col-lg-3 mosaiclItem <%=padding%> position-relative d-flex flex-column">
                <%= render 'spree/shared/product', product: product, image_class: 'w-100', product_index: index %>
            </div>
            <% end %>
        </div>
      
  </div>
<% end %>
<!-- partial = "spree/shared/mosaic_related" -->